/*============================
   Fondo PT1 - Condiciones del Proceso
============================ */

/* Fondo verde solo para el header de Datos generales */
/*.pt1-datos-generales .section-header,
.pt1-personal-involucrado .section-header,
.pt1-ast-seguridad .section-header,
.pt1-equipo .section-header
{
   background: rgba(13, 97, 34, 0.1) !important;
}*/





.pt1-datos-generales,
.pt1-equipo 
{
   background: rgba(50, 145, 74, 0.05) !important;
}

/* Fondo leve para las secciones principales */
.pt1-condiciones-proceso,
.pt1-analisis-previo
 {
    background: rgba(2, 200, 250, 0.05) !important;
}